{
  "presets": [
    "@babel/env",
    {
      "targets": {
        "browsers": ["last 2 versions", "not ie < 11"]
      },
      "useBuiltIns": true,
      "modules": false
    }
  ],
  "plugins": ["syntax-dynamic-import"]
}
